.selectBanck {
    display: flex;
    width: 100%;
    margin: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.containerSelect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.containerSelect .selectBox {
    display: flex;
    border-radius: 4px;
    width: 30vw;
    min-width: 200px;
}

.btnIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    height: 100%;
}

.containerSelect .selectBox i {
    
    margin: 5px;
}

.css-b62m3t-container {
    width: 25vw;
}