.menu {
    box-sizing: border-box;
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #FFF;
    padding: 0 1.5rem;
    background-color: #1b1b1be9;
    height: 4rem;
    justify-content: space-between;
    background-color: rgb(18, 34, 86);
}

.menu span, .menu i {
    font-size: 1.25rem;
    line-height: 1.25%;
}

.homeBtn {
    cursor: pointer;
    display: flex;
    width: auto;
    height: 100%;
    min-height: 2rem;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px transparent;
    transition: 0.3s ease;
    min-width: 80px;

}

.homeBtn:hover {
    box-shadow: 0 0 20px 10px rgba(249, 249, 249, 0.7);
    filter: brightness(2);
}

.homeBtn:active {
    color: #1b1b1be9;
    background-color: #FFF;
}

.homeBtn i, .homeBtn span {
    display: flex;
    margin: 0.5rem 0.5rem;
}

.menuArea2 {
    display: flex;
    height: 100%;
}

.menuArea2 div {
    margin: 0rem 1rem;
}

.moblileMenu {

    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    will-change: auto;
    transition: all 300ms;
    background-color: rgb(18, 34, 86);
    width: 100%;
    z-index: -1;
    opacity: 0;
    top: 4rem;
    transform: translate3d(-100vw, 0, 0);
    position: fixed;
    box-sizing: border-box;
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.active {
    will-change: auto;
    transition: all 300ms;
    z-index: 15;
    opacity: 1;
    top: 4rem;
    transform: translate3d(0, 0, 0);
    position: fixed;
    left: 0;
}

.moblileMenu div {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    will-change: auto;
    transition: all 400ms;
    user-select: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.moblileMenu div:active {
    background-color: rgba(245, 245, 245, 1);
    color: #434343;
}

.containerLinksMoblile {
    display: none;
    justify-content: center;
    align-items: center;
    will-change: auto;
    transition: all 300ms;
    font-size: 1.5rem;
    height: 100%;
    border-bottom: 8px solid transparent;
    user-select: none;
}

.containerLinksMoblile i {
    cursor: pointer;
}

.containerLinksMoblile:active {
    padding-top: 10px;
}

.custonDropDown {

    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: max-content;

    will-change: auto;
    transition: all 300ms;
    z-index: -1;
    transform: translate3d(0, -100vw, 0);
    background-color: #fff;
    color: #1b1b1be9;
    opacity: 0;

    top: 4rem;
    position: fixed;
    box-sizing: border-box;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 25vw;
    min-width: 250px;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    font-weight: 600;
}



.custonDropDown .showDropRow {
    background-color: rgb(18, 34, 86);
    color: #fff;
}

.custonDropContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showDrop {

    will-change: auto;
    transition: all 300ms;
    z-index: 9;
    opacity: 1;

    top: 4.5rem;
    transform: translate3d(0, 0, 0);
    position: fixed;
}

.showDropFgts {

    will-change: auto;
    transition: all 300ms;
    height: 0px;
    width: 100%;
    opacity: 0;

    overflow: hidden;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
}

.activeFgts {

    padding: 1rem;
    height: max-content;
    opacity: 1;
}

.custonDropDown section span {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    height: 1.25rem;
    align-items: center;
}



.custonDropDown section span:hover, .showDropFgts:hover {
    background-color: rgb(18, 34, 86);
    color: #fff;
}

@media only screen and (max-width: 850px) {

    .homeBtn {
        width: auto;
        display: none;
    }

    .fixed {
        display: flex;
    }

    .containerLinksMoblile {
        display: flex;
    }

}