.esteiraProposta {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;

}

.pesquisa {

    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 10px 0px 8px 0px rgba(0, 0, 0, 0.10);
    padding: 1rem;
    border-radius: 8px;
}

.pesquisa .boxtitle {
    color: rgb(39, 39, 39);
    width: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

.pesquisa .boxtitle h2 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.inputContainer .inputItem {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(39, 39, 39);
    background-color: #fff;
    margin: 1rem 1rem;

}

.inputContainer .inputItem input {

    color: rgb(39, 39, 39);
    background-color: #fff;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #212529;
    transition: border-color 0.2s;
    transition: all 0.3ms;
    padding-left: 1rem;
    font-size: 0.9rem;
    border-color: #ced4da;
    box-shadow: 0.1em 0.1em 0.1em #ced4da;
    border: 2px solid #ced4da;
    border-radius: 4px;
    height: 2.35rem;
    line-height: 1.5;
    font-size: 1rem;
    margin:10px 0;
    box-sizing: border-box;
}

.inputContainer .inputItem  input:focus {
    outline: none;
}

.inputContainer .inputItem input:focus-within, .inputContainer .inputItem  input:active {
    outline: none;
    border-color: #17a2b8;
    border: solid 2px #17a2b8;
    box-shadow: 0.1em 0.1em 0.1em #17a2b8;
    transition: border-color 0.2s;
    transition: all 0.3ms;
}
#loading-login {
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    animation: loading-bar-spinner 400ms linear infinite;
}
.contendSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@keyframes loading-bar-spinner {
    to {
        transform: rotate(360deg);
    }
}

.btnConsultar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btnConsultar span {
    background-color: rgb(237, 141, 45);
    color: white;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.btnConsultar span:hover {
    background-color: rgb(207, 110, 30); /* Cor alterada no hover */
}

.btnConsultar span:active {
    background-color: rgb(187, 100, 25); /* Cor alterada durante o clique */
}