.GetInfoCpf {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-color: #e8e6e6bc;
    display: flex;
    padding: 2rem;
    justify-content: center;
    padding-top: 4rem;
    width: 100%;
}

.uploadContainer, .uploadContainer input {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    min-width: 350px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.935);
    box-shadow: 10px 0px 8px 0px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    overflow: hidden;
    padding: 2rem;
    border-radius: 8px;
    height: max-content;
}

.uploadContainer input[type="file"] {
    /* Tornando o texto visível */
    font-weight: 600;
    /* Removendo a borda padrão do input */
    border: none;
    /* Adicionando uma borda personalizada */
    border-bottom: 2px solid rgb(237, 141, 45);
    /* Definindo uma altura para o input para melhorar a aparência */
    height: 2rem;
    /* Adicionando algum espaçamento interno para melhorar a aparência */
    background-color:  rgb(237, 141, 45);
    color: #fff;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 10px 0px 8px 0px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    width: 100%;
}

/* Removendo o estilo padrão de foco */
.uploadContainer input[type="file"]:hover, .uploadContainer input[type="file"]:active, .uploadContainer button:active {
    outline: none;
    border-bottom: 2px solid rgb(236, 132, 28);
    color: rgb(18, 34, 86);
}

.uploadContainer button {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(237, 141, 45);
    color: #fff;
    border: none;
}

.uploadContainer button:hover {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(236, 132, 28);
    color: rgb(18, 34, 86);
}



@media only screen and (max-width: 850px) {

    .uploadContainer, .uploadContainer input {
    
        width: 80vw;
        min-width: 350px;
        max-width: 600px;
    }

}